@font-face {
  font-family: "princfont";
  src: url(../assets/fonts/Roboto-Thin.ttf); }

nav .navegador {
  text-align: center;
  font-size: 1.3rem;
  font-display: bold; }
  nav .navegador ul li a {
    text-decoration: none;
    color: black;
    margin-top: 20px;
    margin-bottom: 20px; }

.animate__animated.animate__zoomIn {
  --animate-duration: 7s; }

@media (max-width: 575.98px) {
  .nav-link {
    font-size: 13px !important; } }

@media (max-width: 767.98px) {
  #logo-footer {
    display: none; }
  #contacto {
    text-align: center !important; }
  #iconos a {
    text-align: center !important; }
  .mapa {
    width: 75% !important;
    height: 200px !important; } }

@media (max-width: 991.98px) {
  #logo-footer {
    display: none !important; }
  #contacto {
    text-align: center !important; }
  #iconos a {
    text-align: center !important; }
  .img-thumbnail {
    width: 100% !important; } }

@media (max-width: 1199.98px) {
  .img-thumbnail {
    width: 100% !important; } }

div .carousel-inner {
  max-height: 39rem;
  margin-top: 20px;
  margin-top: 30px; }

main #eslogan {
  font-family: "princfont";
  color: black;
  margin-top: 50px; }

main #proyectos {
  font-family: "princfont";
  color: black;
  text-align: center; }

main .card-img-top {
  height: 320px !important; }

main .img-fluid {
  height: 700px !important;
  width: 50% !important; }

main #equipo {
  max-height: 40rem !important; }
